body {
  background-color: #87CEFA;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  width: 100%;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px; 
  margin: auto;
}

.assign {
  background-color: #DFF702;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border-color: #E31414;
  width: calc(33.333% - 20px); 
  box-shadow: 8px 8px brown;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assign img {
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  border: 2px solid red;
}

.assign img:hover {
  border: 3px dotted black;
}

.assign-det {
  text-align: left;
  width: 100%;
}
